= nav_at 'My events'
%h3 Past events have been automatically archived
- if @events.any?
  - @events_grouped_by_month.each do |month, events|
    .month
      %h1= month
      = render events
      .break
