label {
  display: block;
  font-weight: bold;
}

.formtastic {
  li {
    width: 100%;
  }
  input, textarea, select {
    width: 100%;
    border: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    min-height: 20px;
  }

  fieldset {
    display: block;
    float: left;
  }

  .w1-2 {
    width: 460px;
    margin: 10px;
  }

  .datetime li {
    display: block;
    width: 225px;
    float: left;
  }

  fieldset.buttons {
    margin: 10px;
    width: 940px;
    text-align: right;
    input {
      width: auto;
    }
  }
}

#event_starts_at_string_input {
  padding-right: 5px;
}
#event_ends_at_string_input {
  padding-left: 5px;
}

#event_description {
  min-height: 124px;
  min-width: 460px;
  max-width: 460px;
}